<div class="navbar flex">
    <a class="navbar-title" href="/">Film Collection</a>
    <a class="navbar-item" href="/film/add">Add new film</a>
    <a class="navbar-item" href="/film">Instruction</a>
</div>